<section class="params">
  <h3><%= t(:parameters) %></h3>
  <div class="table-responsive">
    <table class="table table-bordered">
      <% scopes = params.group_by{|p| p["scope"]}.keys.compact %>
      <% scope_count = if scopes.present?
          c = scopes.select{|s| s.is_a?(Array)}.map{|a| a.count}.max
          (c.nil? || c.zero?) ? 1 : c
        else
          0
        end
      %>
      <tr>
        <% param_headers(params).each do |title| %>
          <% if title == "Name" %>
            <th><%= title %></th>
            <% scope_count.times do |t| %>
              <th></th>
            <% end %>
          <% else %>
            <th><%= title %></th>
          <% end %>
        <% end %>
      </tr>
      <% scope_gr = params.group_by{|p| p["scope"]} %>
      <% scope_gr.each do |key, values| %>
        <% if key.nil? %>
          <% values.each do |param| %>
            <tr>
              <td class="name" >
                <%= param['name'] %>
                <% if param['required'] %>
                  <span class="label label-danger required"><%= t(:required) %></span>
                <% end %>
              </td>
              <% scope_count.times do |t| %>
                <td></td>
              <% end %>
              <td class="description"><%= param['description'] %></td>
              <% param_extras(values).each do |extra| %>
                <td class="extra"><%= param[extra] %></td>
              <% end %>
            </tr>
          <% end %>
        <% elsif key.is_a?(String) %>
          <tr>
            <td class="name" ><%= key %></td>
            <% (scope_count + param_extras(params).count + 1).times do |t| %>
              <td></td>
            <% end %>
          </tr>
          <% values.each do |param| %>
            <tr>
              <td></td>
              <td class="name" >
                <%= param['name'] %>
                <% if param['required'] %>
                  <span class="label label-danger required"><%= t(:required) %></span>
                <% end %>
              </td>
              <% (scope_count - 1).times do |t| %>
                <td></td>
              <% end %>
              <td class="description"><%= param['description'] %></td>
              <% param_extras(values).each do |extra| %>
                <td class="extra"><%= param[extra] %></td>
              <% end %>
            </tr>
          <% end %>
        <% else %>
          <% @pre_key ||= [] %>
          <% pre_key = @pre_key.is_a?(Array) ? @pre_key : [@pre_key] %>
          <% (key - pre_key).each_with_index do |scope, index| %>
            <tr>
              <% (key.count - (key - pre_key).count).times do |time| %>
                <td></td>
              <% end %>
              <% index.times do |t| %>
                <td></td>
              <% end %>
              <td class="name" ><%= scope %> </td>
              <% (scope_count + param_extras(params).count).times do |t| %>
                <td></td>
              <% end %>
            </tr>
          <% end %>
          <% values.each do |param| %>
            <tr>
              <% scope_count.times do |t| %>
                <td></td>
              <% end %>
              <td class="name" >
                <%= param['name'] %>
                <% if param['required'] %>
                  <span class="label label-danger required"><%= t(:required) %></span>
                <% end %>
              </td>
              <td class="description"><%= param['description'] %></td>
              <% param_extras(values).each do |extra| %>
                <td class="extra"><%= param[extra] %></td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
        <% @pre_key = key %>
      <% end %>
    </table>
  </div>
</section>
